.page_wrap {
}

.calculator_container {

}

#calculator_frame {
    width: 400px;
    height: 450px;
    border: 2px solid black;
    border-radius: 5%;
    margin: 100px auto;
    text-align: center;
}

#display_container{
    width: 300px;
    height: 60px;
    border: 2px solid black;
    margin: 40px auto;

}

.button_container {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 10px 40px;

}

.btn_digits {
    width: 75px;
    height: 55px;
    
    
    
}
